.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Bree serif';
}
.heading {
  color: #f0bb03;
  font-size: 40px;
  margin-bottom: 0px;
}
.description {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.button {
  height: 32px;
  width: 80px;
  background-color: #ffffff;
  color: #1e293b;
  font-size: 12px;
  border-width: 0px;
  border-radius: 4px;
  font-weight: 600;
}
